<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Taiwan Travel Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--bootstrap css CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- -animate.css cdn
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"> -->

    <!--hover.css cdn-->
    <link href="../css/hover.css/hover-min.css" rel="stylesheet" media="all">

    <!--font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!--googleFont-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amiko:700" rel="stylesheet">

    <!--DON'T TOUCH!!! jquery, bootstrap,script-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
    <!--DON'T TOUCH!!! jquery, bootstrap,script-->

    <!--left side nav-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>

    <!--MY CSS-->
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/socialMediaSideBar.css">
    <link rel="stylesheet" href="css/community.css">
    <!--CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <style>
        * {
            font-family: 'Amiko', sans-serif;
        }

        .head {
            background-color: #E0E2DB;
        }

        body {
            /* background-color: #3C91E6; */
            background-color: #045de9;
            background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
        }

        h2 {
            color: black;
            font-size: 50px;
        }

        .panel-body {
            font-size: 25px;
        }

        .btn {
            font-size: 30px;
        }
        h2 {
           background-color: white;
           border: 2px solid black;;
        }
    </style>
</head>

<body>
    <!--animated nav-->
    <%- include('partials/nav') %>

    <!--social sidebar-->
    <% include partials/social-sidebar %>

    <!-- Comment board 20191125-->
    <div class="container comment">
        <!-- IT Login
        <% if (username) { %>
        <a class="btn btn-default" href="/logout">登出</a>
        <% } else { %>
        <a class="btn btn-default" href="/login">登入</a>
        <% } %>
        -->
        <h2>Message board <i class="fas fa-comment-dots"></i></h2>
        <br>
        <% if (isLogin === true) { %>
        <a class="btn btn-primary" href="/community/posts">New post</a>
        <% } %>
        <% if (isLogin === false)  { %>
        <a class="btn btn-primary" href="/users">New post</a>
        <% }%>
        <br>
        <br>
        <br>

        <div>
            <% for(var i=0; i<posts.length; i++) { %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= posts[i].author %>, Post time：<%= posts[i].createTime %></h3>
                </div>
                <div class="panel-body">
                    <%= posts[i].content  %>
                    <% if (isAdmin) { %>
                    <a href="/posts/delete/<%= posts[i].id %>">刪除</a>
                    <% } %>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <!-- Resize not working 20191125
    <% if (isLogin === true) { %>
    <div class="container community">
        <div class="upload-pic">
            <form action="/community" enctype="multipart/form-data" method="post">
                <input type="file" name='image'>
                <input type="submit" value="submit">
            </form>
            <br>
            <%= typeof msg != 'undefined' ? msg : '' %>
            <div class="display-pic">
                <img id="image" src="<%= typeof filename != 'undefined' ? filename: '' %>" class="responsive-img">
            </div>
        </div>
    </div>
    <% } %>

    <% if (isLogin === false) { %>
  
    <% } %>
    -->
    <div class="container">
        <a class="twitter-timeline" data-height="1000" data-theme="white"
            href="https://twitter.com/TripToTaiwan?ref_src=twsrc%5Etfw">Tweets by TripToTaiwan</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div class="pillar">

    </div>
    <!-- footer -->
    <% include partials/footer %>

    <!--myJavaScript-->
    <script src="../js/navNoEffect.js"></script>
    <script src="../js/pics.js"></script>
    <script>
        let test;
        <% if (!typeof pics === undefined) { %>
            test = <% -JSON.stringify(pics) %>
        <% } %>

            console.log(test);
    </script>
</body>

</html>